doctype html
html(lang=es)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/styles.css")
        title Login
    body
        .log-logo
            .log-logo__img
                img(src="img/easylogo-300x300.png")

        .log-title
            .log-logo__text
                h1 Recupera su contraseña

        //.log-message
            .log-message__text
                p Se envio un correo a:
                    span correo@example.com

        .log-form
            .log-form__form
                form.log-form__form__el
                    div
                        label.log-label
                            |Email:
                            input.log-input(type="text")

                    div
                        button.btn-primary.log-btn(type="submmit") Recuperar Contraseña

        footer.log-footer
            .log-footer__text
                p ¿No tienes una cuenta?
                    a.log-link(href="#")  Regístrate